<a href="https://colab.research.google.com/github/GodJiLee/Dacon/blob/main/%EA%B5%AC%EB%82%B4%EC%8B%9D%EB%8B%B9%20%EC%8B%9D%EC%88%98%EC%9D%B8%EC%9B%90%20%EC%98%88%EC%B8%A1/109_6903333333_rf_%EA%B5%AC%EB%82%B4%EC%8B%9D%EB%8B%B9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [베이스라인] 데이콘 베이스라인 코드 (랜덤포레스트)

# 사용 패키지

In [ ]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor

# 데이터 로드

In [ ]:
train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dacon_contest1/data/train.csv')
test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dacon_contest1/data/test.csv')
submission = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dacon_contest1/data/sample_submission.csv')

# 데이터

In [ ]:
train.head()

           일자 요일  ...     중식계    석식계
0  2016-02-01  월  ...  1039.0  331.0
1  2016-02-02  화  ...   867.0  560.0
2  2016-02-03  수  ...  1017.0  573.0
3  2016-02-04  목  ...   978.0  525.0
4  2016-02-05  금  ...   925.0  330.0

[5 rows x 12 columns]

In [ ]:
test.head()

           일자  ...                                           석식메뉴
0  2021-01-27  ...  흑미밥 얼큰순두부찌개 쇠고기우엉볶음 버섯햄볶음 (New)아삭이고추무절임 포기김치
1  2021-01-28  ...            충무김밥 우동국물 오징어무침 꽃맛살샐러드 얼갈이쌈장무침 석박지
2  2021-01-29  ...            흑미밥 물만둣국 카레찜닭 숯불양념꼬지어묵 꼬시래기무침 포기김치
3  2021-02-01  ...           흑미밥 동태탕 돈육꽈리고추장조림 당면채소무침 모자반무침 포기김치
4  2021-02-02  ...       흑미밥 바지락살국 쇠고기청경채볶음 두부구이*볶은김치 머위된장무침 백김치

[5 rows x 10 columns]

In [ ]:
submission.head()

           일자  중식계  석식계
0  2021-01-27    0    0
1  2021-01-28    0    0
2  2021-01-29    0    0
3  2021-02-01    0    0
4  2021-02-02    0    0

# 요일을 숫자로 매핑

In [ ]:
train['요일'] = train['요일'].map({'월':0, '화':1, '수':2, '목':3, '금':4})
test['요일'] = test['요일'].map({'월':0, '화':1, '수':2, '목':3, '금':4})

# **현본사소속재택근무자수, 중식계, 석식계 float32 -> int 로 형변환**
MSE 변동 없음

In [ ]:
# 정수형으로 타입 변경
train[['현본사소속재택근무자수', '중식계', '석식계']] = train[['현본사소속재택근무자수', '중식계', '석식계']].astype('int')
test['현본사소속재택근무자수'] = test['현본사소속재택근무자수'].astype('int')

print('done')

done

## **일자 데이터 datetime으로 변환 후 년/월/일/주로 split (모델에 추가)**
MSE 상당 부분 개선 (121 -> 112)

In [ ]:
# datetime으로 변경
train['일자'] = pd.to_datetime(train['일자'])
test['일자'] = pd.to_datetime(test['일자'])

print('done')

done

In [ ]:
# datetime 쪼개기
train['년'] = train['일자'].dt.year
train['월'] = train['일자'].dt.month
train['일'] = train['일자'].dt.day
train['주'] = train['일자'].dt.week
train['요일'] = train['일자'].dt.weekday

print('done')

done

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  """

In [ ]:
# 데이터 간 연산으로 새로운 column 생성
train['출근'] = train['본사정원수'] - (train['본사휴가자수'] + train['본사출장자수'] + train['현본사소속재택근무자수'])
train['휴가비율'] = train['본사휴가자수'] / train['본사정원수']
train['출장비율'] = train['본사출장자수'] / train['본사정원수']
train['야근비율'] = train['본사시간외근무명령서승인건수'] / train['출근']
train['재택비율'] = train['현본사소속재택근무자수'] / train['본사정원수']

print('done')

done

In [ ]:
# test dataset에 대해서도 똑같이 처리
test['년'] = test['일자'].dt.year
test['월'] = test['일자'].dt.month
test['일'] = test['일자'].dt.day
test['주'] = test['일자'].dt.week
test['요일'] = test['일자'].dt.weekday

print('done')

done

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  """

In [ ]:
# test dataset에 대해서도 똑같이 처리
test['출근'] = test['본사정원수'] - (test['본사휴가자수'] + test['본사출장자수'] + test['현본사소속재택근무자수'])
test['휴가비율'] = test['본사휴가자수'] / test['본사정원수'] 
test['출장비율'] = test['본사출장자수'] / test['본사정원수'] 
test['야근비율'] = test['본사시간외근무명령서승인건수'] / test['출근']
test['재택비율'] = test['현본사소속재택근무자수'] / test['본사정원수']

print('done')

done

In [ ]:
train.head()

          일자  요일  본사정원수  본사휴가자수  ...      휴가비율      출장비율      야근비율 재택비율
0 2016-02-01   0   2601      50  ...  0.019223  0.057670  0.099125  0.0
1 2016-02-02   1   2601      50  ...  0.019223  0.066513  0.134146  0.0
2 2016-02-03   2   2601      56  ...  0.021530  0.069204  0.046934  0.0
3 2016-02-04   3   2601     104  ...  0.039985  0.084583  0.155907  0.0
4 2016-02-05   4   2601     278  ...  0.106882  0.069589  0.015873  0.0

[5 rows x 21 columns]

In [ ]:
test.head()

          일자  요일  본사정원수  본사휴가자수  ...      휴가비율      출장비율      야근비율      재택비율
0 2021-01-27   2   2983      88  ...  0.029501  0.061012  0.002123  0.120013
1 2021-01-28   3   2983     104  ...  0.034864  0.071069  0.176369  0.116661
2 2021-01-29   4   2983     270  ...  0.090513  0.083473  0.000000  0.098558
3 2021-02-01   0   2924     108  ...  0.036936  0.052668  0.229915  0.110123
4 2021-02-02   1   2924      62  ...  0.021204  0.063611  0.192633  0.107387

[5 rows x 19 columns]

# 수치 데이터만 피쳐로 선택

In [ ]:
x_train = train[['요일', '본사정원수', '본사출장자수', '본사시간외근무명령서승인건수', '현본사소속재택근무자수', '년', '월', '일', '주']]
y1_train = train['중식계']
y2_train = train['석식계']

x_test = test[['요일', '본사정원수', '본사출장자수', '본사시간외근무명령서승인건수', '현본사소속재택근무자수', '년', '월', '일', '주']]

# 점심과 저녁을 식수 인원을 예측할 2개 모델 생성
random_state 12345로 변경시 mse 상당 부분 개선 (기존 112->109)

In [ ]:
model1 = RandomForestRegressor(n_jobs=-1, random_state=1000) # randome state 따라 mse 달라짐
model2 = RandomForestRegressor(n_jobs=-1, random_state=1000)

# 학습

In [ ]:
model1.fit(x_train, y1_train)
model2.fit(x_train, y2_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=-1, oob_score=False,
                      random_state=1000, verbose=0, warm_start=False)

# 추론

In [ ]:
pred1 = model1.predict(x_test)
pred2 = model2.predict(x_test)

# 결과 제출

In [ ]:
submission['중식계'] = pred1
submission['석식계'] = pred2

In [ ]:
# 데이터프레임을 csv로 내보내기
submission.to_csv('baseline_random_state_1000.csv', index = False)

In [ ]:
submission.head()

           일자      중식계     석식계
0  2021-01-27   997.20  282.88
1  2021-01-28   929.26  396.73
2  2021-01-29   602.59  340.69
3  2021-02-01  1221.86  488.27
4  2021-02-02  1042.24  410.75